:root {
    --background-color: rgb(230, 230, 230); 
    --background-dark: rgb(200, 200, 200); 

    --taga-color900: rgb(0,255,0);
}
  

html, body, main {
    background-color: var(--background-color) !important;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    
}   

@font-face {
    font-family: 'Nunito';
    src: url("./assets/nunito/Nunito-VariableFont_wght.ttf");
  }
